@media screen and (min-width: 1441px) {
  html,
  body {
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) {
  #main-header {
    .grid-container {
      grid-template-columns: minmax(275px, 1fr);
      text-align: center;
    }
  }
}

@media screen and (max-width: 450px) {
  html,
  body {
    background: url("../images/bg-intro-mobile.png") no-repeat center center,
      $red;
  }
  h1 {
    font-size: 2rem;
  }

  .container {
    padding: 20px 1rem;
  }
}
