// Primary colors
$primary1: hsl(223, 87%, 63%); //blue

// Secondary Colors
$secondary1: hsl(223, 100%, 88%); //Pale blue
$secondary2: hsl(354, 100%, 66%); // light red

// Neutral
$neutral1: hsl(0, 0%, 59%); // Gray
$neutral2: hsl(209, 33%, 12%); //Very dark Blue

$fontSize: 20px;

$fontFamily: "Libre Franklin", sans-serif;

// Width
$containerWidth: 1200px;
$mobileWidth: 360px;
$tabletWidth: 770px;

// transitions
$hoverTransition: all 300ms ease;
